@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
  --ff: 'Montserrat', sans-serif;
  --clr-black: #444;
}

*{
  box-sizing: border-box;
}

body, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  font-family: var(--ff);
  font-size: 16px;
  color: var(--clr-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
